/***************

 Kiku Card Game

****************/

@import 'normalize';


@mixin number($number) {
  &:after,&:before {
    content:$number;
    display:inline-block;
    font-size:2.5rem;
    position: absolute;
    padding:.25em;
  }  
  
  &:after {
    bottom:0;
    right:0;
    transform: rotate(180deg);
  }
  &:before {
    top:0;
    left:0;
  }    
}

@mixin card-color($color, $color2:darken($color,5%)) {
  background:$color;
  background: linear-gradient(135deg, $color, $color 50%, $color2 50%, $color2);  
}




label {
  display:block;
  cursor:pointer;
}

.container {
  width: 920px;
  margin:0 auto;
}

button {
  -webkit-appearance:none;
  appearance:none;
  outline:none;
  cursor:pointer;
}

input[type=radio] {
  position:relative;
  width:50px;
  display:inline-block;
  overflow:hidden;
  border:1px #000 solid;
  -webkit-appearance:none;
  appearance:none;
  height:2em;
  outline:none;
  
  &:after {
    content: " ";
    background: #fff;
    position: absolute;
    width:100%;
    height:125%;
    top:-1px;
    left:3px;    
  }
  
  &:checked::after {
    content: " ";
    background: #0f0;
    position: absolute;
    top:0;
    left:0;
  }
}

.sr-only {
  display:none;
}


/******

 Cards, Hands, Deck

******/

#deck {
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  float:right;
  .card {
    position: absolute;
    top:1px;
    left:0;
    border:1px #fff solid;
  }
}

.hand {
  text-align:center;
  
  // hover over hand, specifically card
  &:hover {
    .card:not(:hover) {
      -webkit-filter: grayscale(1);
      color:#aaa;
      transform:scale(.75);
    }    
  }
  
  // cards go other direction for compute rhand
  &#computer-hand .card:hover {
    transform: translate3d(0,20%,0) rotate(0deg);    
  }
}

.card {
  width:125px;
  height:175px;
  border-radius:6px;
  border: rgba(0,0,0,.25) solid 1px;
  box-shadow:-1px 2px 2px rgba(0,0,0,.1);
  transition:all 250ms;
  transform: rotate(-2deg);
  position: inline-block;
  margin:0 -10px 0 0;
  text-shadow: -1px -1px 0px rgba(255,255,255,.25),1px 1px 0px rgba(255,255,255,.5);
  font-size:2.5rem;
  
  &:nth-of-type(2n+1) {    
    transform: translate3d(0,2%,0) rotate(2deg);
  }
  
  &:hover {
    transform: translate3d(0,-10%,0) rotate(0deg);
    box-shadow:0 3px 5px rgba(0,0,0,.5);
  }
  
  // Colors
  // Thanks: http://clrs.cc/
     
  &.color-blue {
    @include card-color(#0074D9);
  }
  &.color-green {
    @include card-color(#2ECC40);
  }
  &.color-white {
    @include card-color(#FFF);
  }
  &.color-yellow {
    @include card-color(#FFDC00);
  }
  &.color-red {
    @include card-color(#FF4136);
  }
  
  // Numbers
  &.number-1 {  @include number("1");  }
  &.number-2 {  @include number("2");  }
  &.number-3 {  @include number("3");  }
  &.number-4 {  @include number("4");  }
  &.number-5 {  @include number("5");  }
}


.cardback {
background:#333;  
}


/******

 Gameplay Options / Labels / Controls

******/

.label-container {
  text-align:center;
  margin:2em 0;
}

label  {
  display:inline-block;
}

