/***************

 Kiku Card Game

****************/

//@import 'normalize';
* {
 box-sizing: border-box
}

$brown: #2F2523;

$red: #FF4136;
$yellow: #FFDC00;
$blue: #0074D9;
$green: #2ECC40;

@mixin number($number) {  
  &.number-known-true, &.number-show {    
    &:after,&:before {
      content:$number;
      display:inline-block;
      font-size:3.5vh;
      position: absolute;
      padding:.25em;
    }  
  
    &:after {
      bottom:0;
      right:0;
      transform: rotate(180deg);
    }
    &:before {
      top:0;
      left:0;
    } 
  }   
}

@mixin card-color($color, $color2:darken($color,5%)) {
  filter: grayscale(1);
  background: linear-gradient(135deg, #ccc, #ccc 50%, #bbb 50%, #bbb);      
  &.color-known-true, &.color-show {
    filter: grayscale(0);
    background:$color;
    background: linear-gradient(135deg, $color, $color 50%, $color2 50%, $color2);      
    .emblem {  animation: colorshift 1s infinite ease-in-out alternate; z-index:-1; }
  }
}

@mixin heart-emoji($emoji) {
  .heart:before {
    content:$emoji;
  }  
}

@keyframes colorshift {
    0% {
      filter: hue-rotate(0deg);      
    }
    100%{
      filter: hue-rotate(360deg);
    }
  } 

//  @keyframes colorshift-more {
//      0% {
//        filter: hue-rotate(0deg);
//      }
//      100%{
//        filter: hue-rotate(45deg);
//      }
//    }

/***************

 Global Resets 

****************/

label {
  display:block;
  cursor:pointer;
}

.container {
//  max-width: 920px;
  margin:0 auto;
}

button {
  -webkit-appearance:none;
  appearance:none;
  outline:none;
  cursor:pointer;
  font-family:inherit;
}

input[type=radio] {
  display:inline-block;
  overflow:hidden;
  margin:0;
  -webkit-appearance:none;
  appearance:none;
  outline:none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:0;
  cursor:pointer;
  transition: all 250ms;
  
  &:hover {
    background:rgba(255,255,255,.1);
  }
  
  &:after {
    content: " ";
    background: rgba(0,0,0,0);
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    transition: all 450ms;
  }
  
  &:checked::after {
    content: " ";
    background: rgba($green,.25);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.sr-only {
  display:none;
}


/********************

 General / Header / Title/ Scoreboard

*********************/
body {
  font-family:Monaco,Consolas,Courier New, monospace;  
  background:#111;
  color:#fff;
  margin:0;
}

a {
  color:#aaa;
  transition: 250ms all;
  &:hover {
    color:#ddd;
  }
}


#title {
//  font-family:Monaco,Consolas,Courier New, monospace;
  text-transform:uppercase;
  display:inline-block;
  font-size:5.5vh;
  margin:0;
  padding:.1em .5em;
  color: rgba(0,0,0,1);
  text-shadow:
         3px 3px 0 #fff,
       -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
         1px 1px 0 #fff;
  
  &:before,&:after {
    content:"👾 ";
    text-shadow:none;
  }
  &:after {
    content:" 👾";
    text-shadow:none;
  }
}

.meter {
  background:#eee;
  display:inline-block;
  height:1em;
  width:15vw;
  
  span {
    background:#0074D9;
    display:inline-block;
    height:1em;
  }
}

.primary-header {
//  font-family:Monaco,Consolas,Courier New, monospace;
  color:#fff;
  background: linear-gradient(135deg, #000, #000 50%, #333 50%, #333);      
  background:#000;
  height:9vh;
  border-bottom:1px $brown solid;  
  color:rgba(255,255,255,1);    
}

#game-status {
  display:inline-block;  
}

.game-status-item {
  display:inline-block;
  text-align:center;
  margin-right:1.5em;  
//  width:23vw;
}




/********************

 Cards, Hands, Deck

*********************/

 .hand {
  text-align:center;
  list-style:none;
  padding:2vh 0;
  height:24vh;
  
  // hover over hand, specifically card
  &.playable-hand:hover {
    .card:not(:hover) {
      filter: grayscale(.75);
      color:#aaa;
      transform:scale(.75);
    }    
  }
    
  .card {
    &.number-known-true  {
      .info-number { display:inline-block ;}
    }
    &.color-known-true {
      .info-color { display:inline-block;}
    }
    
    .info {
      position:absolute;
      bottom:0;
      text-align:center;
      left:0;
      font-size:1rem;
      transform: translate3d(0,100%,0);
      width:100%;
    }
    .info-number,.info-color {
      display:none;  
    }
  } 
}

#hand-discard {
  text-align:left;
  .card {
    transform:scale(.85);
    color:#000;
  }
  &:hover {
    .card:not(:hover),.card:hover {
      filter: none;
      color:#000;
//      transform:none;
    }        
  }
}

.card {
  display:inline-block;
  width:20vw;
  height:20vh;
  border-radius:6px;
  border: rgba(0,0,0,.25) solid 1px;
  box-shadow:-1px 2px 2px rgba(0,0,0,.1);
  transition:all 250ms;
  transform: rotate(-2deg);
  position: inline-block;
  margin:0 -10px 0 0;
  text-shadow: -1px -1px 0px rgba(255,255,255,.25),1px 1px 0px rgba(255,255,255,.5);
  font-size:3.8vh;
//  font-family:Courier;

  @media screen and (min-width: 720px) {
    width:8vw;
    height:18vh;
    font-size:6.7vh;
  }
  
  &:nth-of-type(2n+1) {    
    transform: translate3d(0,2%,0) rotate(2deg);
  }
  
  &:hover {
    transform: translate3d(0,-10%,0) rotate(0deg);
    box-shadow:0 3px 5px rgba(0,0,0,.5);
  }
  
  // Colors
  // Thanks: http://clrs.cc/
     
  &.color-blue {
    @include card-color($blue);
  }
  &.color-green {
    @include card-color($green);
  }
  &.color-white {
    @include card-color(#FFF);
  }
  &.color-yellow {
    @include card-color($yellow);
  }
  &.color-red {
    @include card-color($red);
  }
  
  &.blank-card {
    @include card-color(#333);    
    opacity:.5;
    border:3px rgba(255,255,255,.3) dashed;
    filter: grayscale(1) !important;
  }
  
  // Numbers
  &.number-1 {  @include number("1");  }
  &.number-2 {  @include number("2");  }
  &.number-3 {  @include number("3");  }
  &.number-4 {  @include number("4");  }
  &.number-5 {  @include number("5");  }
  
  
  
  
}



// Played space

#played-cards {
//  float:left;
  height:24vh;
  list-style:none;
  list-style:none; 
  margin:0;
  padding:0;
  text-align:center;
  width:100vw;
  color:#000;

  
//  margin-bottom:140px;
  
   
  & > li {
    width:20vw;
    height:100%;
    display:inline-block;
    position:relative;

    &:nth-child(odd) {
      background:rgba(255,255,255,.033);
    }
    
    &.red-played { border-top:5px $red solid; border-bottom:5px $red solid; }
    &.green-played { border-top:5px $green solid; border-bottom:5px $green solid; }
    &.blue-played { border-top:5px $blue solid; border-bottom:5px $blue solid; }
    &.yellow-played { border-top:5px $yellow solid; border-bottom: 5px $yellow solid; }
    &.white-played { border-top:5px #fff solid; border-bottom: 5px #fff solid; }
  }  
  
  
  /*** 
   
   Alter card apperance in played space
  
  ***/
  .card { 
      transform:rotate(0deg);
      display:none;
      font-size:4vh;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate3d(-50%,-50%,0);
      
      
      &:last-child {
        display:inline-block;
      };
  }
  
  .card-decoration {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate3d(-50%,-50%,0) scale(.75);
  }
  .card {
    &.color-blue { @include heart-emoji('💙') }
    &.color-green { @include heart-emoji('💚') }
    &.color-white { @include heart-emoji('💟') }
    &.color-yellow { @include heart-emoji('💛') }
    &.color-red { @include heart-emoji('❤️') }
  }
}

/******

 Gameplay Options / Labels / Controls

******/

.label-container {
  text-align:center;
  border:1px $brown solid;
  border-left:0;
  border-right:0;
  display:block;
  height:9vh;
  background:#151515;
  
}

.play-instructions {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate3d(-50%,-50%,0);    
}

label  {
  display:inline-block;
  width: 50vw;
  padding:1em;
  height:9vh;
  background: #001f3f;
  position: relative;
  cursor:pointer;
  &:last-of-type {
    background: lighten(#001f3f, 5%);    
  }

}

/*****

 Overlay

*****/

#overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.8);
  opacity:0;
  z-index:1;
  visibility: hidden;
  transition: 350ms all;
  &.shown {
    z-index:99;
    background:rgba(0,0,0,.8);
    visibility: visible;
    opacity:1;
  }
}

.overlay-text {
  max-width:60vw;
  margin:0 auto;
  line-height:1.8em;
  
  h1,h2,h3,h4,h5 {
    color: rgba(0,0,0,1);
    text-shadow:
           3px 3px 0 #fff,
         -1px -1px 0 #fff,  
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
           1px 1px 0 #fff;
    text-transform: uppercase;    
    text-align:center;
  }
}

/*****

 Hiding some things for no javascript

*****/

.hidden,.no-js-only  {
  display:none;
}

.no-js .js-only {
  display:none;
}

.no-js .no-js-only {
  display:inherit;
}
