{% extends 'layout.html' %}

{% block content %}

<div class="container">
  <header class='primary-header'>
    <h1 id="title">{{ title }}</h1>
    <div id="game-status">
      <span class='game-score game-status-item'>SCORE  {{ gameState.score }} / 25</span>
      <span class='game-time-tokens game-status-item'>TIME  <span class='sr-only'>{{ gameState.timeTokens }}</span>
      {% set timeTokens = Array(gameState.timeTokens) %}
      {% for t in timeTokens %}⌛️{% endfor %}
    </span>
      <span class='game-fuse-tokens game-status-item'>FUSES <span class='sr-only'>{{ gameState.fuseTokens }}</span>
    {% set fuseTokens = Array(gameState.fuseTokens) %}
    {% for t in fuseTokens %}⭐️{% endfor %}    
    </span>
    <a href='/gameplay/reset'>Restart Game</a>
    </div>
  </header>
  
  {% if gameState.gameFinished %}
    
    <h1>The game has come to an end!</h1>
    <p>
      Your score: {{ gameState.score }} out of a possible 25.
    </p>
    <p>
      <a href="/gameplay/reset">Play again?</a>
    </p>

  {% else %}
      
  <form action='/gameplay' method='post'>    
    <div id="hand-computer" class="hand playable-hand">
      {% include 'templates/hand-computer.html' %}
    </div>
    
    
    <div class='label-container'>
      <label for='play1'><input type="radio" id="play1" name="action" value='tellColor'><span class='play-instructions'>Tell about color</span></label><label for='play2'><input type="radio" id="play2" name="action" value='tellNumber'><span class='play-instructions'>Tell about number</span></label>
    </div>
    
    <h2 class='sr-only'>Played Cards</h2>    
      <ul id="played-cards">
        {% include 'templates/played.html' %}
      </ul>
    
    <div class='label-container'>
      <label for='play3'><input type="radio" id="play3" name="action" value='discard'><span class='play-instructions'>Discard a card</span></label><label for='play4'><input type="radio" id="play4" name="action" value='play' checked><span class='play-instructions'>Play a card</span></label>
    </div>

    <div id="hand-player" class="hand playable-hand">
      {% include 'templates/hand-player.html' %}
    </div>
    
  </form>
  
  <h2>Discard Pile</h2>
  
  <ul id='hand-discard' class='hand'>
    {% include 'templates/discard.html' %}
  </ul>
  
  <h2>Game Log</h2>
  
  <ol id='game-log'>
    {% include 'templates/log.html' %}
  </ol>
  

{% endif %}

</div>  
{% endblock %}
