<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/kiku.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
</head>
<body class='no-js'>
<script>(function() { document.body.className = document.body.className.replace('no-js','')})()</script>
{% block content %}
{% endblock %}

<div id="notification">
  <p>
  The computer.
  </p>
</div>

<div id="overlay" {% if gameState.log.length === 0 %} class="shown js-only"{% endif %}>

  <div class='overlay-menu'>
    <h1 data-dismiss=true>KIKU MENU</h1>
    <a href="#" data-show='welcome' class='js-only'>Welcome</a>
    <a href="#" data-show='hand-discard' class='js-only'>View Discards</a>
    <a href="#" data-show='game-log' class='js-only'>View Turns</a> 
    <a href="#" data-show='options' class='js-only'>Options</a> 
    <a class="overlay-dismiss" title='Close this overlay' title='Close Menu'>[x]</a>
    <a href="/gameplay/reset">[Restart]</a>
    <a class="overlay-read hidden" title='Have your browser read this overlay to you via text-to-speech, if supported.'>[Read Aloud]</a>
  </div>

  {% if gameState.log.length === 0 %}
  <div id='overlay-text' class='overlay-text'>    
    <h1>Welcome to KIKU!</h1>
    <p>
      Kiku is our collaborative submission for the 2016 <a href='https://a-k-apart.com'>10k Apart</a> contest. It's an adaptation of the card game <a href='https://en.wikipedia.org/wiki/Hanabi_(card_game)'>Hanabi</a> but with a little bit of a SETI twist, thematically, inspired this summer's <a href='http://www.cnn.com/2016/08/30/health/seti-signal-hd-164595-alien-civilization/'>report of a strong signal</a> from star HD164595. The word <a href='http://japanese.about.com/od/wordoftheday/p/word45.htm'>kiku</a> means "to hear/listen" in Japanese. As an homage to both Hanabi and this fun bit of news it seemed like an appropriate title.
    </p>        
    
    <h2>How to Play</h2>
    
    <p>The deck contains cards in 5 suits (white, yellow, green, blue, and red): three ones, two each of twos, threes, and fours, and one five. The game begins with 8 available satellite (information) tokens and 3 star (fuse) tokens. To start the game, players are dealt a hand containing five cards. Play proceeds around the table; each turn, a player must take one of the following actions:</p>
<ul>
    <li><strong>Give info</strong>: The player points out the cards of either a given number or a given color in the hand of the computer. Giving info consumes one satellite (info) token.</li>
    <li><strong>Discard</strong>: The player chooses a card from their hand and adds it to the discard pile and draws a card to replace it. Discarding a card replenishes one satellite (info) token.</li>
    <li><strong>Play a card</strong>: The player chooses a card from their hand and attempts to add it to the cards already played. This is successful if the card is a one of a suit that has not yet been played, or if it is the next number sequentially in a suit that has been played. Otherwise a star (fuse) token is consumed and the misplayed card is discarded. Successfully playing a five of any suit replenishes one satellite (infor) token.</li>
</ul>
    <p>Players lose immediately if all star (fuse) tokens are gone, and wins if all fives have been played successfully. Otherwise play continues until the deck becomes empty, and for one full round after that. At the end of the game, the values of the highest cards in each suit are summed, resulting in a total score out of a possible 25 points.</p>
    
    <p>
      As you inform the computer about cards in their hand, emoji appear beneath the computer's cards so you can keep track of what you've informed them about:      
    </p>
    
    <ul>
      <li>🎨 denotes the computer knowns about about the color</li>
      <li>🔢 denotes the computer knowns about about the number</li>
    </ul>
    

  </div>
  {% endif %}  
  
</div>
<script>
var iosDragDropShim = { enableEnterLeave: true }
</script>
<script src='/kiku.js'></script>
</body>
</html>
