{% for card in hand %}
<button name='card' value='{{ loop.index0 }},{{ handKey}}' class='{{ handKey}}-card card {% if handKey == 'computer' %}color-show number-show{% endif %} color-known-{{ card.isColorKnown }} number-known-{{  card.isNumberKnown }} color-{{ card.color }} number-{{ card.number }}' draggable='true'>
  {% if handKey == 'computer' %}👽{% else %}📡{% endif %}
  <div class="info">
    
    <span class='hidden'>P:{{ card.canPlay }}</span>
    <span class='hidden'>D:{{ card.canDiscard }}</span>
    <span class="info-color">🎨</span>  
    <span class="info-number">🔢</span>  
    <span class='sr-only'>Is the color known? {{ card.isColorKnown }}</span>
    <span class='sr-only'>Is the number known? {{ card.isNumberKnown }}</span>
  </div>  
</button>
{% endfor %}
