{% for card in gameState.player %}
  <button name='card' value='{{ loop.index0 }},player' class='player-card card color-known-{{ card.isColorKnown }} number-known-{{ card.isNumberKnown }} color-{{ card.color }} number-{{ card.number }}' draggable='true'>
    📡
    <div class="info">
      <span class="hidden">P:{{ card.canPlay }}</span>
      <span class="hidden">D:{{ card.canDiscard }}</span>          
      <!-- <span class="info-color">🎨</span>   -->
      <!-- <span class="info-number">🔢</span>   -->
      <span class='sr-only'>Is the color known? {{ card.isColorKnown }}</span>
      <span class='sr-only'>Is the number known? {{ card.isNumberKnown }}</span>
    </div>  
  </button>
  </button>
{% endfor %}
